html{
  border-style: solid;
   border-width: 60px;
   border-color:#dfb2ff ;
}

h1{
  font-family: 'Darker Grotesque', sans-serif;
  text-align:center;
  background-color:pink;
  font-size:60px;
  margin-left: -25px;
  margin-right: -25px;
}


.topnav {
  overflow: hidden;
  background-color: #dfb2ff;
  text-align: center;
  margin: 45px;
  margin-left: -28px;
  margin-right: -28px;
}

.topnav a {
  font-family: 'Didact Gothic', sans-serif;
  color: #b2ffdf;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  margin-left: 8px;
  margin-right: 8px;
}

.topnav a:hover {
  background-color:#dfb2ff ;
  color: white;
}

.topnav a.active {
  background-color: #dfb2ff;
  color: white;
}
*{
 margin:0;
 padding: 0;
 box-sizing: content-box;
}

h2{
  font-family: 'Beth Ellen', cursive;
  font-size: 35px;
 margin: 0px;
 padding: 0px;
 text-align: center;
}
.bioname{
background-color:#DEF3FD;
font-size: 20px;
margin: 15px;
padding: 10px;
text-align: center;
margin-left: -25px;
margin-right: -25px;
}
.bio{
text-align: center;
font-size: 18px;
 margin: 15px;
 padding: 10px;

}
body{
font-family: 'Darker Grotesque', sans-serif;
 margin: 15px;
 padding: 10px;
}
.mainhead{
text-align: center;
background-color: pink;
font-size: 18px;
margin-left: 0px;
margin-right:0px;
}
img{
object-fit: cover;
width: 130px;
height:200px;
margin:10px;
padding:10px;
margin-left: 15px;
margin-right: auto;
width: 30%;
}

.mainheadtext{
text-align: center;
font-size:18px ;
margin: 25px;
padding: 15px;
}
.Tech{
  text-align: center;
  background-color:#DEF3FD;
    margin:10px;
    padding:12px;
    margin-left: -25px;
    margin-right:-25px;
}
.subhead1{
text-align: center;
background-color:#DEF3FD;
margin: 15px;
padding: 10px;
margin-left: -25px;
margin-right:-25px;
}
.subheadtext1{
margin: 15px;
padding: 10px;
font-size:18px;
text-align: center;
}
